* {
  font-family: 'Inter', sans-serif;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: transparent;
}
button.navbar-toggler:focus {
  outline: transparent;
}
button.navbar-toggler:not(:focus-visible) {
  outline: transparent;
}
.navbar-nav {
  margin-left: auto;
}
a.nav-item.nav-link {
  font-weight: bold;
  size: 100%;
  font-size: 22px;
  margin-right: 20px;
}
a.navbar-brand {
  size: 100%;
  font-weight: bold;
  font-size: 22px;
}
div.navbar-nav {
  size: 100%;
}
a.nav-item.nav-link {
  size: 100%;
  font-weight: bold;
  font-size: 22px;
  margin-right: 20px;
}
object {
  width: 100%;
  height: 100%;
}
.row flex-row img {
  width: 10%;
  height: 10%;
}
